<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
     <link rel="stylesheet" href="/styles/universalStyle.css">
    <link rel="stylesheet" href="/styles/chat.css">
    <link rel="stylesheet" href="/styles/all.css">
</head>
<body>

    <div class="page-container">


        <div class="page-container-inner">

            <div class="new-message-button">

                <i class="fa-solid fa-message"></i>

            </div>


            <div class="page-title">

                <h1>Messages</h1>
                <p>Vent Annonymously</p>

            </div>

            <div id="chats-container" class="chats-container">

            
        <div class="single-chat">

           

            <div class="user-image">
                <img src="/images/user.jpg" alt="men">
            </div>

            <div class="chat-right">

                <a href="/me/chats/364644664">
                <h3>collinsadi23</h3>
                <p>let's meet at cafe</p>
                </a>


            </div>

        </div>
       
 

        <!-- <div class="loading-state">

            <h3>Loading Chats ....</h3>

        </div> -->





            </div>





        </div>


    </div>

    

    <!-- <script src="/scripts/chat.js"></script> -->
    <script src="/scripts/all.js"></script>
</body>
</html>