<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
     <link rel="stylesheet" href="/styles/universalStyle.css">
    <link rel="stylesheet" href="/styles/chat.css">
    <link rel="stylesheet" href="/styles/conversation.css">
    <link rel="stylesheet" href="/styles/all.css">
</head>
<body>

    <div class="page-container">


        <div class="page-container-inner">


            <div class="chat-header">

                <div class="chat-header-left">

                    <i class="fa-solid fa-arrow-left"></i>

                    <h3>collinsadi23</h3>

                </div>

                <div class="chat-header-right">

                    <i class="fa-solid fa-circle-exclamation"></i>

                </div>

            </div>

            <div class="chat-container">

    
    <!-- <div class="chat-bubble bot-bubble">
      
      <p>Hello! I'm Voxi, your friendly chatbot. How can I assist you today?</p>
    </div> -->

   
            </div>

            <div class="user-input">

                <input id="user-message" placeholder="Type Message" type="text">

                <div onclick="sendMessage()" id="send_btn" class="send-button">

                    <i class="fa-solid fa-paper-plane"></i>
                </div>
                

            </div>

            





        </div>


    </div>

    

   
    <script src="/scripts/conversation.js"></script>
    <script src="/scripts/all.js"></script>
</body>
</html>