<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>VENT || RSU</title>
    <link rel="stylesheet" href="/styles/universalStyle.css">
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>

   <div class="page-container">

    <div class="page-container-inner">

        <div class="page-title">

            <h1>VENT</h1>

        </div>

        <div class="page-description">

            <p>An Annonymous Platform for RSU Students to Vent Annonymously to Each Other</p>

        </div>

        <div class="page-cta">

            <a href="/join"><button>Join Chat</button></a>

        </div>

    </div>

   </div>

    
    
</body>
</html>