<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Vent</title>
    <link rel="stylesheet" href="/styles/universalStyle.css">
    <link rel="stylesheet" href="/styles/all.css">
    <link rel="stylesheet" href="/styles/join.css">
</head>
<body>
    

<div class="form-container">

    <div class="form-container-inner">

        <div class="inner-form">

            <div class="form-title">
                <h1>Welcome Back!</h1>
                <p id="error"></p>
            </div>

            <div class="form-inputs">

                <input id="username" placeholder="Username" type="text">
                <input id="password" placeholder="Password" type="password">

              

            </div>

            <!-- <div class="form-disclaimer">

                <p>By Clicking Join You agree to VENT's <a href="">Terms Of Use</a> and Have Read The Vent <a href="">Disclaimer</a></p>

            </div> -->

            <div class="form-button">

                <button id="join_btn">Login</button>
                  <a style="margin-top: 20px;" href="/join">New Here?</a>
            </div>


        </div>

    </div>

</div>


    <script src="/scripts/login.js"></script>
    <script src="/scripts/all.js"></script>
</body>
</html>