body{

    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container{

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, var(--primary-color), var(--black));
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container-inner{

    width: 400px;
    max-width: 100%;
    height: 100%;
    background-color: white;
    padding: 10px;
    overflow-y: scroll;
    position: relative;
}

.page-title{

    width: 100%;
    text-align: left;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.chats-container{

    width: 100%;
    /* padding: 10px; */
  
}

.single-chat{

    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.329);
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    
}
.single-chat h3{
    overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
}
.single-chat p{
    overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width:100%;
}

.chat-right{

    width: 90%;
    max-width: 90%;
    overflow: hidden;
}

.user-image{

    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: black;
    margin-right: 20px;
}
.user-image img{

    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.chat-right a{

    text-decoration: none;
    color: var(--black);
}
.chat-right h3{

    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.new-message-button{

    width: 40px;
    height: 40px;
    font-size: 25px;
    color: var(--primary-color);
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 5;
    border-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.329);
    display: flex;
    align-items: center;
    justify-content: center;
}


.loading-state{

    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}




.users-container{

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(255, 255, 255, 0.295); */
    background: linear-gradient(to bottom right, #fe549273,rgba(0, 0, 0, 0.486));
    z-index: 100;
    backdrop-filter: blur(8px);
    display: none;
    overflow-x: scroll;

}



.find-users-title{

    width: 100%;
    padding: 10px;
    text-align: center;
}
.find-users-title h3{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}








@media all and (max-width: 516px) {
 
    /* your content here */

    .page-container-inner{

        width: 100%;
    }


}