body{

    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container{

    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom right, var(--primary-color), var(--black));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.page-container-inner{

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-title h1{

    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 20px;

}

.page-description p{

    color: var(--white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.page-cta button{

    padding: 15px;
    width: 300px;
    max-width: 100%;
    background-color: var(--white);
    color: var(--black);
    border: 0;
    outline: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}

p.warning{

    color: white;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 14px;

}

.warning a{

  
    color: lightgray;
    font-weight: bold;
}


.popup-container{

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.185);
    z-index: 200;
    display: none;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
}

.popup-content{

    width: 300px;
    background-color: white;
    padding: 10px;
    max-width: 100%;
}



@media all and (max-width: 680px) {
    /* your content here */

    .page-description{

        padding: 15px;
    }
}
