body{

    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container{

    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom right, var(--primary-color), var(--black));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.page-container-inner{

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-title h1{

    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 20px;

}

.page-description p{

    color: var(--white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.page-cta button{

    padding: 15px;
    width: 300px;
    max-width: 100%;
    background-color: var(--white);
    color: var(--black);
    border: 0;
    outline: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}

@media all and (max-width: 680px) {
    /* your content here */

    .page-description{

        padding: 15px;
    }
}
